.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-left: 20px;

  .title {
    .mainTitle {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
    }
    .subTitle {
      font-weight: 400;
      font-size: 10px;
      line-height: 12px;
    }
  }
}