.container {
  width: 99%;
  max-height: calc(100vh - 88px);

  .headerRow {
    height: 41px;

    .headerCell {
      padding-top: 0;
      padding-bottom: 0;
      background-color: #2b2c2f;
    }
  }

  .bodyRow {
    padding: 0;

    &:last-child td, &:last-child th {
      border: 0
    }

    .icon {
      padding: 10px;
      opacity: 80%;
      border-radius: 10px;

      display: flex;
      align-items: center;
      justify-content: space-between;

      
    }

    .levelCell {
      color: #fff;
      width: max-content;
      padding: 7px;

      .deleteIcon {
        display: block;
      }

      .hideDeleteIcon {
        display: none;
      }
    }

    .nameCell {
      color: #fff;
      width: 45%;
    }

    .bodyCell {
      color: #fff;
      width: 13%;
    }
  }

}